<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :user_phone %><br />
    <%= f.text_field :user_phone %>
  </div>
  <div class="field">
    <%= f.label :dream %><br />
    <%= f.text_field :dream %>
  </div>
  <div class="field">
    <%= f.label :dream_cost %><br />
    <%= f.text_field :dream_cost %>
  </div>
  <div class="field">
    <%= f.label :monthly_savings %><br />
    <%= f.text_field :monthly_savings %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
